.card-item {
    background-color: rgba(175, 71, 236, 0.555);
    position: sticky;
    top: 0;
}
.choosed-product-info {
    display: flex;
    align-items: center;
    background-color: white;
}
.img-box {
    width: 45px;
    height: 45px;
    background-color: rgba(216, 216, 216);
    display: flex;
    border-radius: 50%;
}
.choosed-product-info img {
    width: 33px;
    height: 33px;
    margin: auto;
    border-radius: 8px;
}
.choosed-product-info h5 {
    font-size: 17px;
}
.trash-icon {
    cursor: pointer;
}
#grab-btn {
    display: none;
    background-color: deeppink;
    color: white;
    letter-spacing: 0.3px;
    border: 2px solid deeppink;
}
#grab-btn:hover {
    background-color: transparent;
    color: rgb(255, 32, 151);
}
.btn-choose {
    color: white;
    border: 1px solid white;
}
.btn-again {
    padding-left: 22px;
    padding-right: 22px;
}
